* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 38%;
    height: 100px;
    margin-bottom: 1rem;
}

header img {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
}

main {
    padding: 10px;
}

section {
    margin-bottom: 20px;
}



.title {
    font-size: 24px;
}

.author {
    color: #898989;
    font-size: 16px;
}

.author span {
    color: #33b0e7;
}

.small {
    font-size: 12px;
}

figcaption {
    font-size: 12px;
}

.text span {
    background-color: yellow;
}

.list {
    padding-left: 15px;
}

table {
    border-collapse: collapse;
}

.heading {
    text-align: left;
    background-color: #20a9e5;
    color: #FFF;

}

.column__one {
    width: 25%;
}

.column__two {
    width: 25%;
}

.column__three {
    width: 50%;
}

.even {
    background-color: #b1e5f2;
}